@tailwind base;
@tailwind components;
@tailwind utilities;

[data-background-pattern="grid"] {
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0.04) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(255 255 255 / 0.04) 1px, transparent 1px);

  background-size: 5rem 5rem;
}
